#clear, #zero {
  width: 200px;
}

#display {
  height: 100px;
}

#display div {
  height: 50%;
}

#equals {
  height: 200px;
  position: absolute;
  bottom: 0;
  background-color: darkslategrey;
}

#equals:hover {
  background-color: slategray;
}

#clear {
  background-color: red;
}

#clear:hover {
  background-color: salmon;
}

.App {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.calculator {
  width: 400px;
  position: relative;
  border: 3px solid black;
}

.keypad-btn {
  width: 100px;
  height: 100px;
  font-size: 1.5rem;
  font-weight: bold;
  border: 0;
  background-color: dimgray;
  border: 1px solid black;
}

.keypad-btn:hover {
  background-color: gray;
}

.display-container {
  border-bottom: 1px solid black;
}

.display-formula, .display-input {
  text-align: right;
  background-color: gray;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  color: lightgrey;
}

.display-formula {
  font-size: 1.5rem;
}

.display-input {
  font-size: 2rem;
}